{% extends "blog/base.html" %}
{% block content %}
    <h1>About</h1>
    <p>This is a simple, functional blog web app built in Django. Credit to 
        <a href="https://www.youtube.com/channel/UCCezIgC97PvUuR4_gbFUs5g">Corey Schafer on YouTube</a> 
        for inspriation and guides. </p>
    <p>Note that unfortunately, due to restrictions regarding user-uploaded content on Heroku, the profile picture feature is not fully functional on this web app. However, you can see this functionality in action by deploying locally; see the <a href="https://github.com/DamanjitG/django-blog">source code on GitHub.</a></p>
{% endblock content %}