{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Unique CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

    {% if title %}
        <title>DjangoBlog - {{ title }}</title>
    {% else %}
        <title>DjangoBlog</title>
    {% endif %}
  </head>
  <body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="/">DjangoBlog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                  <div class="navbar-nav mr-auto">
                      <a class="nav-item nav-link" href="{% url 'blog-homepage' %}">Home</a>
                      <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
                  </div>
                  <div class ="navbar-nav">
                    {% if user.is_authenticated %}
                      <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                      <a class="nav-item nav-link" href="{% url 'profile' %}">My Profile</a>
                      <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                      <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                      <a class="nav-item nav-link" href="{% url 'registration' %}">Register</a>
                    {% endif %}
                  </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
              {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
          </div>
          <div class="col-md-4">
            <div class="content-section">
              <h3>sidebar title placeholder</h3>
              <p class='text-muted'>sidebar subheading placeholder
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light">item 1</li>
                  <li class="list-group-item list-group-item-light">item 2</li>
                  <li class="list-group-item list-group-item-light">item 3</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
    </main>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  </body>
</html>